@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant+Upright:wght@300;400;500;600;700&family=Fira+Code:wght@300..700&family=Heebo:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (max-width:1150px) {

    .app__navbar {
        height: 96px;
    }

    .app__navbar-links {
        display: none;
    }

    .app__nav-searchbar .app__hamburger-icon {
        display: inline-block;
    }

    .app__navbar-smallscreen_overlay {
        display: flex;
    }
}


@media screen and (max-width:760px) {
    .app__navbar {
        padding: 30px;
    }
}

@media screen and (max-width:490px) {
    .search_box {
        display: none;
    }
}


.p__opensans {
    display: flex;
    align-items: center;
    font-family: "Cormorant Upright";
    font-size: 30px;
    margin-bottom: 25px;
    cursor: pointer;
}