@media screen and (max-width:860px) {
    .sections {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        gap: 1;
    }

    .boxx {
        height: 100vh;
    }
}