.app__menu_button-text {
    font-family: "Cormorant Upright";
}

@media screen and (max-width:1460px) {
    .app__header {
        padding: 10px;
    }
}

@media screen and (max-width : 926px) {

    .app__header {
        height: 90vh;
    }

    .app__header_h1 {
        font-size: 60px;
        line-height: 57px;
    }
}

@media screen and (max-width:800px) {
    .app__navbar {
        position: relative;
    }

    .app__header {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 80vh;
        position: relative;
    }

    .app__menu_btn {
        margin-top: 1rem;
    }


    .img {
        width: 100%;
        height: 300px;
    }

    .app__header_h1 {
        font-size: 40px;
        line-height: 40px;
    }

}